<%- include('header'); -%>
<div class="topDiv">
  <div onmouseover="rotateYDIV()" id="greeting">
    Welcome to my little priceless Bulletboard
  </div>

  <p id="intro">I will try CRUD via "To do List".</p>
  <div class="todoList">
    <div id="myDIV" class="header">
      <h2>My To Do List</h2>
      
      <form class="item" action="/" method="post">
        <input
          type="text"
          name="newItem"
          id="myInput"
          placeholder="내가 할 일은?"
          autocomplete="off"
        />
        <button type="submit" name="list" class="addBtn">Add</ㅠ>
      </form>

      
    </div>
    <ul id="myUL">
      <%newListItems.forEach(function(item){ %>
      <li>
        <form action="/delete" method="post">
          <div class="item">
            <input
              class="input"
              type="checkbox"
              name="checkbox"
              value="<%= item._id %>"
              onChange="this.form.submit()"
            />
            <p><%= item.name %></p>
          </div>
        </form>
      </li>
      <%})%>
    </ul>
  </div>
</div>
<%- include('footer'); -%>
