<%- include('header'); -%>
<div class="topDiv">
  <div onmouseover="rotateYDIV()" id="greeting">
    Welcome to my little priceless Bulletboard
  </div>

  <p id="intro">I will try CRUD via "To do List".</p>
  <div class="todoList">
    <div id="myDIV" class="header">
      <h2>My To Do List</h2>
      <input type="text" id="myInput" placeholder="내가 할 일은?" />
      <span onclick="newElement()" class="addBtn">Add</span>
    </div>

    <ul id="myUL">
      <li>1</li>
      <li class="checked">2</li>
      <li>3</li>
      <li>4</li>
    </ul>
  </div>
</div>
<%- include('footer'); -%>
